.btn {
 margin-top: 15px;
 width: 94%;
 font-size: 2rem;
 margin-left: 2rem;
 margin-right: 2rem;
 transition: all 0.3s ease-out;
 -webkit-transition: all 0.3s ease-out;
 -moz-transition: all 0.3s ease-out;
 -ms-transition: all 0.3s ease-out;
 -o-transition: all 0.3s ease-out;
 background-color: rgba(0, 255, 255, 0.7);
}

.textarea{
 margin-left: 2rem;
 margin-right: 2rem;
 width:80%;
 margin-top: 2rem;
 height: 60vh;
}

.backButton{
 margin-left: 40%;
 margin-top: 1rem;
}